<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Erro!</title>
    </head>
    <body>
        <h1>404</h1>
        <h2>Página não encontrada!</h2>
        <h3>Verifique se não digitou algo errado.</h3>
    </body>
</html>
