<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Erro!</title>
        <link rel="icon" href="/img/icon.png">
    </head>
    <body>
        <h1>Bug! </h1>
        <h2>Nosso time está correndo para corrigir o problema.</h2>
    </body>
</html>
