.titulo {
    font-size: 2em;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    margin: 20px 10px;
}

.campo-valido {
    background-color: red;
}

#error-message {
    margin-top: 10px;
    line-height: 1.5;
    color: red;
}
