.buttons {
    margin-top: 20px;
}

.buttons a {
    margin-right: 20px;
    margin-left: 10px;

}

.titulo {
    font-size: 2em;
}

thead {
    font-weight: bold;
}

.invisible {
    display: none;
}
