*{
  box-sizing: border-box;
}

body{
  font-family: 'Cabin', Arial, sans-serif;
}

header{
  background-color: #333;
  height: 3em;
  color: #FFF;
  margin-bottom: 1em;
}

header h1{
  font-size: 2em;
  display: inline;
  vertical-align: middle;
}

header .container:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.container{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

#add-form {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

section{
  margin: 2em 0;
  overflow: hidden;
}

label{
  color: #555;
  display: block;
  margin-bottom: .2em;
}

.campo{
  margin: 1;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
  padding: .7em;
  padding-right: .5em;
}

.campo-medio{
  display: inline-block;
  padding-right: .5em;
}

.grupo-info{
  width: 24.5%;
  display: inline-block;
  padding: 10px 0px;
}

.grupo{
  width: 24.5%;
  display: inline-block;
  padding: 10px 0px;
}

button{
  padding: .5em 2em;
  border: 0;
  border-bottom: 3px solid;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: -3px;
  color: #fff;
  background-color: #0c8cd3;
  border-color: #04324c;
  width: 20%;
  display: block;
  clear: both;
  margin: 10px 0px;
}

button:active{
  margin-top: 0px;
  border: 0;
}

button[disabled=disabled], button:disabled{
  background-color: gray;
  border-color: darkgray;
}

.campo-valido {
    background-color: #fba69d;
}

#error-message {
    margin-top: 10px;
    line-height: 1.5;
    color: red;
}
