<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Goldbasket</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/principal.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:500">
    </head>
    <body>
        <div id="tudo">
            <div id="conteudo">
                <div id="topo">
                    <img src="/img/logo-full.png" alt="logomarca">
                </div>
                <div id="principal">
                    <h3>Página Principal</h3>
                </div>
                <!-- Fim da div#principal -->
                <div id="menu-lateral">
                    <aside>
                        <nav>
                            <h4>Carteira de Ativos</h4>
                            <ul>
                                <li><a id="menu-ativos" href="/transacoes/acoes">Ações</a></li>
                                <li><a id="menu-ativos" href="/portfolio/fundos">Fundos</a></li>
                                <li><a id="menu-ativos" href="/portfolio/titulos-publicos">Titulos Públicos</a></li>
                                <li><a id="menu-ativos" href="/portfolio/titulos-privados">Títulos Privados</a></li>
                            </ul>
                        </nav>
                    </aside>
                </div>
                <!-- Fim da div#auxiliar -->
                <div class="clear"></div>
            </div>
            <!-- Fim da div#conteudo -->
            <div id="rodape">
                &copy; Goldbasket
            </div>
        </div>
        <!-- Fim da div#tudo -->
    <script src="/js/principal.js" charset="utf-8"></script>
    </body>
</html>
