<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <h1>GoldBasket</h1>
        <h2>Gestão de Portifólio de Investimentos</h2>
    </head>
    <body>
        <p>Carteiras:</p>
        <div>

            <a href="/transacoes/acoes">Açoes</a>
        </div>

    </body>
</html>
