<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Goldbasket: Home</title>
        <link rel="stylesheet" href="/css/principal.css">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="titulo">GoldBasket</h1>
                <h2>Gestão de Portifólio de Investimentos</h2>
            </div>
        </header>
        <main class="container">
            <p>Carteiras:</p>
            <div>
                <a href="/transacoes/acoes">Açoes</a>
            </div>
        </main>
    </body>
</html>
