<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Goldbasket: títulos públicos
        </title>
    </head>
    <body>
        <h1>Está funcionalidade ainda não foi implementada.</h1>
        <h2>Enquato isso conheça o módulo de gestão de ações clicando <a href="/transacoes/acoes">aqui!</a> :)</h2>
    </body>
</html>
