<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <table>
            <thead>
                <th>Ticker</th>
                <th>Empresa</th>
                <th>Setor</th>
            </thead>
            <tbody>
                    <% for(var i = 0; i < lista.length; i++){ %>
                    <tr>
                        <td><%= lista[i].ticker %></td>
                        <td><%= lista[i].name %></td>
                        <td><%= lista[i].sector %></td>

                    </tr>
                    <% } %>
            </tbody>
        </table>
    </body>
</html>
