<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Goldbasket
        </title>
        <link rel="icon" href="/img/icon.png">
    </head>
    <body>
        <h1>Esta funcionalidade ainda não foi implementada.</h1>
        <h2>Enquato isso conheça o módulo de gestão de ações clicando <a href="/transacoes/acoes">aqui!</a> :)</h2>
    </body>
</html>
